@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GED FDL Accueil</h1>
    <p><a asp-page="ListeDocumentsRequis">Voir la liste des documents à remplir</a>.</p>
</div>
