@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
    Layout = "_PublicLayout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Accueil.css" asp-append-version="true" />
}

<body class="homePage">
    <div class="home-wrapper">
        <div class="overlay"></div>

        <main class="hero">
            <h1>GED – Fonds de Développement Local</h1>
            <p class="subtitle">
                Plateforme numérique de gestion et de suivi des documents communaux
            </p>

            <a class="cta-btn" asp-page="ListeDocumentsRequis">
                📂 Voir la liste des documents requis
            </a>
        </main>
    </div>
</body>


@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const hero = document.querySelector(".hero");
            if (hero) {
                hero.classList.remove("animate"); // reset
                void hero.offsetWidth;             // force reflow
                hero.classList.add("animate");     // relance animation
            }
        });
    </script>
}
