@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Accueil.css" />
    <title>GED FDL Accueil</title>
</head>
<body class="homePage">
    <div class="centered">
        <a class="homePage" asp-page="ListeDocumentsRequis">Voir la liste des documents à remplir</a>
    </div>
</body>
