@page
@model ged_fdl_razor.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Connexion Admin";
}
<link href="~/css/LoginAdmin.css" rel="stylesheet" />

<div class="fdl-login-card">
    <h1>Vous devez vous authentifier</h1>
    <br />

    @if (Model.CompteInvalide)
    {
        <div class="error-msg">
            Erreur : ce compte est invalide
        </div>
        <br />
    }

    <form method="post">
        <input type="text" name="username" placeholder="Login" />
        <input type="password" name="password" placeholder="Mot de passe" />
        <button type="submit">Se connecter</button>
    </form>
</div>

