@page "{documentId:int}"
@model ged_fdl_razor.Pages.Commune.Dossiers.Documents.ReplaceModel

@{
    ViewData["Title"] = "Remplacer le document";
}
<link rel="stylesheet" href="~/css/replace-document.css" />

<h1>Remplacer le document</h1>

@if (Model.Document != null)
{
    <p>
        <strong>Nom :</strong> @Model.Document.Nom <br />
    </p>

    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Nouveau fichier</label>
            <input type="file"
                   asp-for="UploadFile"
                   class="form-control"
                   required />
            <span asp-validation-for="UploadFile" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-warning">
            Remplacer
        </button>

    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
