<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ged_fdl_razor</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Dossier.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminGlobal.css" asp-append-version="true" />
</head>
<body>
    <main role="main" class="pb-3 fdl-container">
        @RenderBody()
    </main>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
